body{
background:url(img/backgound.png) no-repeat;
background-size: cover;
min-width:1280px;
}
body h1{
text-align:center;
width:100%;
font-size:40px;
font-width:bold;

}

button.menu{
float:left;
width:25%;
height:50px;
border-left:none;
border-right:none;
font-weight:bold;
font-size:30px;
border-radius:50%;
outline:none;
}
button.menu:hover{
background-color:sandybrown;
}
button.menu:active{
background-color:sandybrown;
}

div.container{
display:inline-block;
width:25%;
min-height: 500px;
float:left;
background-color:none;

}

input{
opacity:0;
width:150px;
border:2px solid;
position:absolute;
}

button.click {
height:50px;
margin-top:10px;
display:block;
margin-left:150px;
width:200px;
border-radius:30%;
box-shadow:5px 5px 5px 5px;
outline:none;
}

button.click:hover{
background-color:sandybrown;
}

button.click .third{
opacity:0;
}
